@import "tailwindcss";

@theme{
  --color-gold: #FFD700;
}

body {
  @apply h-screen bg-neutral-900 text-zinc-100;
}

.custom-input{
  @apply w-full bg-transparent placeholder:text-zinc-300 text-zinc-100 text-sm border border-zinc-200 rounded-md 
  
  
  transition duration-300 focus:outline-none focus:border-amber-100  shadow-sm focus:shadow
}

.btn-google{
  @apply w-full my-6 py-2.5 text-zinc-800 font-semibold bg-white rounded-md relative hover:scale-105 transition duration-300 hover:cursor-pointer
}


.gold-gradiente{
  background: rgb(245,184,26);
  background: linear-gradient(260deg, rgba(245,184,26,1) 16%, rgba(255,215,0,1) 100%);
}


.selector::after {
    border-bottom: 0.2rem solid #ffd700cc;
    content: "";
    display: block;
    margin-top: 0.5rem;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
}

.selector:hover::after,
.selector.active::after {
    transform: scaleX(1);
}